<div class="row">
    <h3 class="text-center">Process Info</h3>
</div> 
<div class="row">
    <form action="" id="formProds" enctype="application/json">
        <div class="form-group">
            <label for="Producto">Argumentos de entrada</label>
                <span class="middtext col-md-4">{{this.ListaArgumentos.arg1}}</span>
                <span class="middtext col-md-4">{{this.ListaArgumentos.arg2}}</span>
        </div>
        <div class="form-group">
            <label for="Descripcion">Nombre de la plataforma</label>
            <h4><span class="middtext col-md-4">{{ this.ProcessInfo.Plataform }}</span></h4>
        </div>
        <div class="form-group">
            <label for="Codigo">Versión de node.js</label>
            <h4><span class="middtext col-md-4">{{ this.ProcessInfo.NodeVer }}</span></h4>
        </div>        
        <div class="form-group">
            <label for="Foto">Uso de memoria</label>
            <h4><span class="middtext col-md-4">{{ this.ProcessInfo.MemoryUse.heapUsed }}</span></h4>
        </div>
        <div class="form-group">
            <label for="Stock">Process id</label>
            <h4><span class="middtext col-md-4">{{ this.ProcessInfo.ProcessId }}</span></h4>
        </div>
        <div class="form-group">
            <label for="Stock">Carpeta corriente</label>
            <h4><span class="middtext col-md-4">{{ this.ProcessInfo.FolderC }}</span></h4>
        </div>   
        <div class="form-group">
            <label for="Stock">Número de procesadores</label>
            <h4><span class="middtext col-md-4">{{ this.ProcessInfo.numCpus }}</span></h4>
        </div>
        <div class="form-group">
            <label for="Precio">Path de ejecución</label>
            <h4><span class="middtext col-md-4">{{ this.ProcessInfo.PathExec }}</span></h4>
        </div>
             
    </form>
</div>